{% load static %}
<div class="flq-background-ticker">
    <div class="flq-image-ticker mb-3" data-gap=20 data-pixels-per-second=20>
        <div class="flq-image-ticker-inner">
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/1.webp' %}" alt="">
                            </span>
            </div>
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/2.webp' %}" alt="">
                            </span>
            </div>
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/3.webp' %}" alt="">
                            </span>
            </div>
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/4.jpg' %}" alt="">
                            </span>
            </div>
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/5.webp' %}" alt="">
                            </span>
            </div>
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/6.webp' %}" alt="">
                            </span>
            </div>
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/7.webp' %}" alt="">
                            </span>
            </div>
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/8.webp' %}" alt="">
                            </span>
            </div>
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/9.jpg' %}" alt="">
                            </span>
            </div>
        </div>
    </div>
    <div class="flq-image-ticker" data-gap=20 data-pixels-per-second=20 data-inverted>
        <div class="flq-image-ticker-inner">
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/10.jpg' %}" alt="">
                            </span>
            </div>
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/11.jpg' %}" alt="">
                            </span>
            </div>
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/12.jpg' %}" alt="">
                            </span>
            </div>
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/13.webp' %}" alt="">
                            </span>
            </div>
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/1.webp' %}" alt="">
                            </span>
            </div>
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/2.webp' %}" alt="">
                            </span>
            </div>
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/3.webp' %}" alt="">
                            </span>
            </div>
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/10.jpg' %}" alt="">
                            </span>
            </div>
            <div class="flq-image-ticker-item">
                            <span class="flq-image">
                                <img src="{% static 'exclusive/assets/images/background-ticker/11.jpg' %}" alt="">
                            </span>
            </div>
        </div>
    </div>
</div>