{% extends 'exclusive/base.html' %}
{% load static %}

{% block navbar_fixed %}
{% endblock %}


{% block content %}
    <div class="flq-background py-7">
            {% include 'exclusive/utilities/background-ticker.html' %}
            <div class="flq-background-overlay" style="background-color: hsla(var(--flq-color-black), 0.8);"></div>
            <div class="container text-center" data-sr="banner-text" data-sr-interval="100" data-sr-distance="10" data-sr-duration="1000">
                <h1 class="display-6 mb-1 " data-sr-item="banner-text">{{ course.title }}</h1>
                <p data-sr-item="banner-text"> {{ course_lessons.count }} lessons</p>
            </div>
        </div>
    <div class="content-wrap">
        <div class="py-7">
            <div class="container flq-isotope" data-sr="tvshow-item" data-sr-interval="80" data-sr-duration="1000" data-sr-distance="10">
                <div class="row gy-5 justify-content-center flq-isotope-grid">
                    {% for lesson in course_lessons %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 flq-isotope-item" data-filters="romance">
                        <div data-sr-item="tvshow-item">
                            <div class="card flq-card-blog">
                                <div class="card-img-wrap">
                                    <a href="{% url 'course:lesson' course.slug lesson.slug %}">
                                        <span class="flq-image flq-rounded-lg flq-responsive flq-responsive-sm-3x4">
                                            <img src="{{ lesson.thumbnail.url }}" alt="">
                                        </span>
                                        <span class="card-badge badge badge-dark badge-glass flq-color-white badge-sm">7.2</span>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title h6"><a href="{% url 'course:lesson' course.slug lesson.slug %}">{{ lesson.title }}</a></h5>
                                    <div class="flq-meta flq-meta-sm">
                                        <ul>
                                            <li>
                                                <a href="#" class="card-year">2021</a>
                                            </li>
                                            <li>
                                                <a href="#" class="card-category">Romance</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include 'exclusive/utilities/footer.html' %}
    </div>
{% endblock %}