{% extends 'exclusive/base.html' %}
{% load static %}

{% block content %}
    <div class="content-wrap">
        <div class="py-7">
            <div class="container-small flq-vertical-rhythm">
                <h3>Lesson 1<br>Antakarana The Narrow Way sdfgsdghsfghsdfgdfhj</h3>
                <h3></h3>
                <div class="card flq-card-image flq-card-trailer">
                    {% comment %}
                    <a href="https://vimeo.com/851368248?h=64217b00ff&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" class="card-image" data-fancybox>
                        <span class="flq-image flq-responsive">
                            <img src="{% static 'exclusive/assets/images/movies/movie-1-trailer-1540x860.jpg' %}" alt="">
                        </span>
                        <svg width="42" height="42" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 19L19 12L8 5V19Z" fill="currentColor" />
                        </svg>
                    </a>
                    {% endcomment %}
                    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/851368248?h=64217b00ff&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Post-Impartation Practice"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                </div>
                <p>Face can't for that be cattle the man won't blessed. Cattle which wherein cattle created Under own them years very gathered. Face can't for that be cattle the man won't blessed. Cattle which wherein cattle created Under own them years very gathered.</p>
                <a href="https://www.youtube.com/watch?v=CaimKeDcudo&ab_channel=WaltDisneyAnimationStudios" class="btn btn-icon-sm" data-fancybox>
                    <span class="btn-name">Next Lesson</span>
                    <span class="btn-icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 19L19 12L8 5V19Z" fill="currentColor" />
                        </svg>
                    </span>
                </a>
            </div>
        </div>
        <div class="py-2">
            <div class="container flq-swiper-wrapper" data-sr="related" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="10">
                <div class="row align-items-center justify-content-between gx-5 gy-4 mb-5">
                    <div class="col-auto">
                        <h3 data-sr-item="related">Course Lessons</h3>
                    </div>
                    <div class="col d-none d-sm-block" data-sr-item="related">
                        <hr>
                    </div>
                    <div class="col-auto" data-sr-item="related">
                        <div class="flq-swiper-button-prev btn btn-sm btn-square btn-white btn-brand-hover btn-active btn-icon-sm me-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="flq-swiper-button-next btn btn-sm btn-square btn-white btn-brand-hover btn-active btn-icon-sm">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="swiper flq-swiper-effect-touch" data-sr-item=related data-buttons=true data-gap=30 data-loop=true data-speed=800 data-touch-ratio=0.8 data-breakpoints=320:1,656:2,1072:3,1280:4>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="card flq-card-blog">
                                    <div class="card-img-wrap">
                                        <a href="single-course.html">
                                            <span class="flq-image flq-rounded-xl flq-responsive ">
                                                <img src="{% static 'exclusive/assets/images/movies/movie-1-1290x1290.jpg' %}" alt="">
                                            </span>
                                            <span class="card-badge badge badge-dark badge-glass flq-color-white">8.4</span>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="single-course.html">Princess Yako</a></h5>
                                        <div class="flq-meta flq-meta-sm">
                                            <ul>
                                                <li>
                                                    <a href="" class="card-year">1997</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="card-category">Action</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card flq-card-blog">
                                    <div class="card-img-wrap">
                                        <a href="single-course.html">
                                            <span class="flq-image flq-rounded-xl flq-responsive ">
                                                <img src="{% static 'exclusive/assets/images/movies/movie-3-1290x1290.jpg' %}" alt="">
                                            </span>
                                            <span class="card-badge badge badge-dark badge-glass flq-color-white">7.4</span>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="single-course.html">Captain Marvel</a></h5>
                                        <div class="flq-meta flq-meta-sm">
                                            <ul>
                                                <li>
                                                    <a href="" class="card-year">2019</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="card-category">Action</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card flq-card-blog">
                                    <div class="card-img-wrap">
                                        <a href="single-course.html">
                                            <span class="flq-image flq-rounded-xl flq-responsive ">
                                                <img src="{% static 'exclusive/assets/images/movies/movie-4-1290x1290.jpg' %}" alt="">
                                            </span>
                                            <span class="card-badge badge badge-dark badge-glass flq-color-white">6.8</span>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="single-course.html">The Fast and the Furious</a></h5>
                                        <div class="flq-meta flq-meta-sm">
                                            <ul>
                                                <li>
                                                    <a href="" class="card-year">2001</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="card-category">Thriller</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card flq-card-blog">
                                    <div class="card-img-wrap">
                                        <a href="single-course.html">
                                            <span class="flq-image flq-rounded-xl flq-responsive ">
                                                <img src="{% static 'exclusive/assets/images/movies/movie-5-1290x1290.jpg' %}" alt="">
                                            </span>
                                            <span class="card-badge badge badge-dark badge-glass flq-color-white">7.7</span>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="single-course.html">The Last Duel</a></h5>
                                        <div class="flq-meta flq-meta-sm">
                                            <ul>
                                                <li>
                                                    <a href="" class="card-year">2021</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="card-category">Action</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card flq-card-blog">
                                    <div class="card-img-wrap">
                                        <a href="single-course.html">
                                            <span class="flq-image flq-rounded-xl flq-responsive ">
                                                <img src="{% static 'exclusive/assets/images/movies/movie-2-1290x1290.jpg' %}" alt="">
                                            </span>
                                            <span class="card-badge badge badge-dark badge-glass flq-color-white">7.1</span>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="single-course.html">Unbounded</a></h5>
                                        <div class="flq-meta flq-meta-sm">
                                            <ul>
                                                <li>
                                                    <a href="" class="card-year">2021</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="card-category">Documentary</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'exclusive/utilities/footer.html' %}
    </div>
{% endblock %}
