{% extends 'exclusive/base.html' %}
{% load static %}

{% block content %}
    <div class="content-wrap">
        <div class="py-7">
            <div class="container-small flq-vertical-rhythm">
                <h3>{{ lesson.title }} {% if twi %}| Twi {% endif %}</h3>
                <div class="card flq-card-image flq-card-trailer">
                    {% if lesson.video_source == 'youtube' %}
                        <div style="padding:56.25% 0 0 0;position:relative;"><iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube-nocookie.com/embed/{{ lesson.video_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
                    {% elif lesson.video_source == 'vimeo' %}
                        {% if twi and lesson.twi_video_id %}
                        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/{{ lesson.twi_video_id }}?h=64217b00ff&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title=""></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                        {% else %}
                        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/{{ lesson.video_id }}?h=64217b00ff&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title=""></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                        {% endif %}
                    {% endif %}
                </div>
                {% if lesson.twi_video_id and not twi %}<p><a href="{% url 'course:lesson' course.slug lesson.slug %}?language=twi" class="link-warning">Twi Version</a></p> {% endif %}
                <p style="font-size: 14px">{{ lesson.description | linebreaks }}</p>
                {% if next_lesson %}
                    <a href="{% url 'course:lesson' course.slug next_lesson.slug %}{% if twi%}?language=twi{% endif %}" class="btn btn-icon-sm">
                    <span class="btn-name">Next Lesson</span>
                    <span class="btn-icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 19L19 12L8 5V19Z" fill="currentColor" />
                        </svg>
                    </span>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="py-2">
            <div class="container flq-swiper-wrapper" data-sr="related" data-sr-interval="100" data-sr-duration="1000" data-sr-distance="10">
                <div class="row align-items-center justify-content-between gx-5 gy-4 mb-5">
                    <div class="col-auto">
                        <h3 data-sr-item="related">Related Lessons</h3>
                    </div>
                    <div class="col d-none d-sm-block" data-sr-item="related">
                        <hr>
                    </div>
                    <div class="col-auto" data-sr-item="related">
                        <div class="flq-swiper-button-prev btn btn-sm btn-square btn-white btn-brand-hover btn-active btn-icon-sm me-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="flq-swiper-button-next btn btn-sm btn-square btn-white btn-brand-hover btn-active btn-icon-sm">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="swiper flq-swiper-effect-touch" data-sr-item=related data-buttons=true data-gap=30 data-loop=true data-speed=800 data-touch-ratio=0.8 data-breakpoints=320:1,656:2,1072:3,1280:4>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for lesson in course_lessons %}
                            <div class="swiper-slide">
                                <div class="card flq-card-blog">
                                    <div class="card-img-wrap">
                                        <a href="{% url 'course:lesson' course.slug lesson.slug %}">
                                            <span class="flq-image flq-rounded-xl flq-responsive ">
                                                <img src="{{ lesson.thumbnail.url }}" alt="">
                                            </span>
                                            <span class="card-badge badge badge-dark badge-glass flq-color-white">5.0</span>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="{% url 'course:lesson' course.slug lesson.slug %}">{{ lesson.title }}</a></h5>
                                        <div class="flq-meta flq-meta-sm">
                                            <ul>
                                                <li>
                                                    <a href="" class="card-year">2022</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="card-category">Awake</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'exclusive/utilities/footer.html' %}
    </div>
{% endblock %}


{% block offcanvas %}
<!-- Offcanvas -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="flq_offcanvas">
    <div class="offcanvas-header">
        <a href="{% url 'course:index' %}" class="flq-fancybox-brand me-auto">
            <img src="{% static 'exclusive/assets/images/logo.png' %}" class="flq-logo" alt="">
        </a>
        <button type="button" class="btn btn-link offcanvas-close" data-bs-dismiss="offcanvas" aria-label="Close">
            <span></span>
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="flq-widget flq-widget-blog">
            <h4 class="flq-widget-title h5"><span>{{ course.title }}</span></h4>
            <p style="font-size: 15px">{{ course.description }}</p>
        </div>
        <div class="flq-widget flq-widget-blog">
            <h4 class="flq-widget-title h5"><span>Lessons ({{ course_lessons.count }})</span></h4>
            <ul>
                {% for lesson_ in course_lessons %}
                <li>
                    <div class="card-body">
                        {% if lesson_.title == lesson.title %}
                        <h6 class="card-title h6 text-warning">{{ lesson_.title }}</h6>
                        {% else %}
                        <h6 class="card-title h6"><a href="{% url 'course:lesson' course.slug lesson_.slug %}">{{ lesson_.title }}</a></h6>
                        {% endif %}

                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="flq-widget flq-widget-blog">
            <h4 class="flq-widget-title h5"><span>Program Requirements</span></h4>
            <ul>
                <li>
                    <div>
                        <p style="font-size: 15px">
                            Our program welcomes open-hearted individuals ready to embark on a transformative journey. While no prior experience is
                            necessary, your success and potential for deep inner shifts will be greatly enhanced by the following:
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6 class="h6">1. Dedication</h6>
                        <p style="font-size: 15px">This path requires a willingness to step out of your comfort zone and consistently devote time and energy to exploring your inner world. Carve out a consistent practice schedule that aligns with your commitment to transformation.</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h6 class="h6">2. A Quiet Space</h6>
                        <p style="font-size: 15px">Find a place where you can be undisturbed for periods of meditation, contemplation, or any practices provided in the program. This dedicated space helps to cultivate focus and supports deepening your experience.</p>
                    </div>
                </li>
            </ul>
        </div>
        {% comment %}
        <div class="flq-widget flq-widget-tag">
            <h4 class="flq-widget-title h5"><span>Tags</span></h4>
            <div class="flq-tags">
                <ul>
                    <li>
                        <a href="#" class="flq-tag">#Comedy</a>
                    </li>
                    <li>
                        <a href="#" class="flq-tag">#Drama</a>
                    </li>
                    <li>
                        <a href="#" class="flq-tag">#Trailers</a>
                    </li>
                    <li>
                        <a href="#" class="flq-tag">#Movie Trailers</a>
                    </li>
                    <li>
                        <a href="#" class="flq-tag">#Horror</a>
                    </li>
                    <li>
                        <a href="#" class="flq-tag">#Thriller</a>
                    </li>
                    <li>
                        <a href="#" class="flq-tag">#TV Shows</a>
                    </li>
                    <li>
                        <a href="#" class="flq-tag">#Action</a>
                    </li>
                    <li>
                        <a href="#" class="flq-tag">#Music</a>
                    </li>
                    <li>
                        <a href="#" class="flq-tag">#Rider</a>
                    </li>
                    <li>
                        <a href="#" class="flq-tag">#Travel</a>
                    </li>
                    <li>
                        <a href="#" class="flq-tag">#Car</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endcomment %}
    </div>
</div>
<!-- / Offcanvas -->
{% endblock %}
