{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Jan Cosmic Foundation">
    <meta name="author" content="JCF">
    <title>JCF | 2024 Event Registration</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{% static 'registration/assets/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'registration/assets/css/menu.css' %}" rel="stylesheet">
    <link href="{% static 'registration/assets/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'registration/assets/css/vendors.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'registration/assets/css/custom.css' %}" rel="stylesheet">
	
	<!-- MODERNIZR MENU -->
	<script src="{% static 'registration/assets/js/modernizr.js' %}"></script>
	
	<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-11097556-8']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
<!--	<style>-->
<!--		body {-->
<!--			background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("{% static 'registration/assets/img/bg-1.jpg' %}");-->
<!--		}-->
<!--	</style>-->

</head>

<body>
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->
	
	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->

	<div class="container full-height">
		<div class="row text-center m-5">
			<div class="col-lg-12 text-center">
				<div >
					<a href="index.html"><img src="{% static 'registration/assets/img/logo.jpg' %}" alt="logo" height="60"></a>
				</div>
				<!-- /logo -->
				<div id="form_title">
					<h3 class="text-uppercase mt-3 mx-auto">2024 JCF International Training & Retreat</h3>
					<p>Date: 21st July, 2024</p>
				</div>
				<!-- /form_title -->
				<!-- image -->
<!--				<div class="col-lg-12 h-25">-->
<!--					<figure><img src="{% static 'registration/assets/img/bg-1.jpg' %}" alt="" class="img-fluid"></figure>-->
<!--				</div>-->
			</div>
		</div>
		<div class="row">
			{% comment %}
			<div class="col-lg-6 content-left">
				<div class="content-left-wrapper">
					<a href="index.html" id="logo"><img src="img/logo.png" alt="" width="49" height="35"></a>
					<div id="social">
						<ul>
							<li><a href="#0"><i class="bi bi-facebook"></i></a></li>
							<li><a href="#0"><i class="bi bi-twitter-x"></i></a></li>
							<li><a href="#0"><i class="bi bi-instagram"></i></a></li>
							<li><a href="#0"><i class="bi bi-tiktok"></i></a></li>
						</ul>
					</div>
					<!-- /social -->
					<div>
						<figure><img src="img/info_graphic_1.svg" alt="" class="img-fluid"></figure>
						<h2>Satisfaction Survey</h2>
						<p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete detracto patrioque an per, lucilius pertinacia eu vel. Adhuc invidunt duo ex. Eu tantas dolorum ullamcorper qui.</p>
						<a href="https://1.envato.market/JAL9r" class="btn_1 rounded" target="_parent">Purchase this template</a>
						<a href="#start" class="btn_1 rounded mobile_btn">Start Now!</a>
					</div>
					<div class="copy">© 2024 Wilio</div>
				</div>
				<!-- /content-left-wrapper -->
			</div>
			<!-- /content-left -->
			{% endcomment %}

			<div class="content-right" id="start">
				<div id="wizard_container" class="my-auto">
					<div id="top-wizard">
							<div id="progressbar"></div>
						</div>
						<!-- /top-wizard -->
						<form id="wrapped" method="POST" action="{% url 'registration:register' %}">
							{% csrf_token %}
							<input id="website" name="website" type="text" value="">
							<!-- Leave for security protection, read docs for details -->
							<div id="middle-wizard">
								<!-- participant details -->
								<div class="step">
									<h3 class="main_question"><strong>1/5</strong>Please fill with your details</h3>
									<div class="form-group">
										<input type="text" name="firstname" class="form-control required" placeholder="First Name">
									</div>
									<div class="form-group">
										<input type="text" name="lastname" class="form-control required" placeholder="Last Name">
									</div>
									<div class="form-group">
										<input type="email" name="email" class="form-control required" placeholder="Your Email">
									</div>
									<div class="form-group">
										<input type="tel" name="phone" class="form-control required" placeholder="Phone Number">
									</div>
									<div class="form-group">
										<label for="dob">Date of Birth</label>
										<input id="dob" type="date" name="dob" class="form-control date" placeholder="Date of Birth">
									</div>
									<div class="form-group">
										<div class="styled-select clearfix">
											<select class="wide required" name="country">
												<option value="">Your Country</option>
												<!--all countries in the world in alphabetical order-->
												<option value="AF">Afghanistan</option>
												<option value="AX">Aland Islands</option>
												<option value="AL">Albania</option>
												<option value="DZ">Algeria</option>
												<option value="AS">American Samoa</option>
												<option value="AD">Andorra</option>
												<option value="AO">Angola</option>
												<option value="AI">Anguilla</option>
												<option value="AQ">Antarctica</option>
												<option value="AG">Antigua and Barbuda</option>
												<option value="AR">Argentina</option>
												<option value="AM">Armenia</option>
												<option value="AW">Aruba</option>
												<option value="AU">Australia</option>
												<option value="AT">Austria</option>
												<option value="AZ">Azerbaijan</option>
												<option value="BS">Bahamas</option>
												<option value="BH">Bahrain</option>
												<option value="BD">Bangladesh</option>
												<option value="BB">Barbados</option>
												<option value="BY">Belarus</option>
												<option value="BE">Belgium</option>
												<option value="BZ">Belize</option>
												<option value="BJ">Benin</option>
												<option value="BM">Bermuda</option>
												<option value="BT">Bhutan</option>
												<option value="BO">Bolivia</option>
												<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
												<option value="BA">Bosnia and Herzegovina</option>
												<option value="BW">Botswana</option>
												<option value="BV">Bouvet Island</option>
												<option value="BR">Brazil</option>
												<option value="IO">British Indian Ocean Territory</option>
												<option value="BN">Brunei Darussalam</option>
												<option value="BG">Bulgaria</option>
												<option value="BF">Burkina Faso</option>
												<option value="BI">Burundi</option>
												<option value="KH">Cambodia</option>
												<option value="CM">Cameroon</option>
												<option value="CA">Canada</option>
												<option value="CV">Cape Verde</option>
												<option value="KY">Cayman Islands</option>
												<option value="CF">Central African Republic</option>
												<option value="TD">Chad</option>
												<option value="CL">Chile</option>
												<option value="CN">China</option>
												<option value="CX">Christmas Island</option>
												<option value="CC">Cocos (Keeling) Islands</option>
												<option value="CO">Colombia</option>
												<option value="KM">Comoros</option>
												<option value="CG">Congo</option>
												<option value="CD">Congo, Democratic Republic of the Congo</option>
												<option value="CK">Cook Islands</option>
												<option value="CR">Costa Rica</option>
												<option value="CI">Cote D'Ivoire</option>
												<option value="HR">Croatia</option>
												<option value="CU">Cuba</option>
												<option value="CW">Curacao</option>
												<option value="CY">Cyprus</option>
												<option value="CZ">Czech Republic</option>
												<option value="DK">Denmark</option>
												<option value="DJ">Djibouti</option>
												<option value="DM">Dominica</option>
												<option value="DO">Dominican Republic</option>
												<option value="EC">Ecuador</option>
												<option value="EG">Egypt</option>
												<option value="SV">El Salvador</option>
												<option value="GQ">Equatorial Guinea</option>
												<option value="ER">Eritrea</option>
												<option value="EE">Estonia</option>
												<option value="ET">Ethiopia</option>
												<option value="FK">Falkland Islands (Malvinas)</option>
												<option value="FO">Faroe Islands</option>
												<option value="FJ">Fiji</option>
												<option value="FI">Finland</option>
												<option value="FR">France</option>
												<option value="GF">French Guiana</option>
												<option value="PF">French Polynesia</option>
												<option value="TF">French Southern Territories</option>
												<option value="GA">Gabon</option>
												<option value="GM">Gambia</option>
												<option value="GE">Georgia</option>
												<option value="DE">Germany</option>
												<option value="GH">Ghana</option>
												<option value="GI">Gibraltar</option>
												<option value="GR">Greece</option>
												<option value="GL">Greenland</option>
												<option value="GD">Grenada</option>
												<option value="GP">Guadeloupe</option>
												<option value="GU">Guam</option>
												<option value="GT">Guatemala</option>
												<option value="GG">Guernsey</option>
												<option value="GN">Guinea</option>
												<option value="GW">Guinea-Bissau</option>
												<option value="GY">Guyana</option>
												<option value="HT">Haiti</option>
												<option value="HM">Heard Island and Mcdonald Islands</option>
												<option value="VA">Holy See (Vatican City State)</option>
												<option value="HN">Honduras</option>
												<option value="HK">Hong Kong</option>
												<option value="HU">Hungary</option>
												<option value="IS">Iceland</option>
												<option value="IN">India</option>
												<option value="ID">Indonesia</option>
												<option value="IR">Iran, Islamic Republic of</option>
												<option value="IQ">Iraq</option>
												<option value="IE">Ireland</option>
												<option value="IM">Isle of Man</option>
												<option value="IL">Israel</option>
												<option value="IT">Italy</option>
												<option value="JM">Jamaica</option>
												<option value="JP">Japan</option>
												<option value="JE">Jersey</option>
												<option value="JO">Jordan</option>
												<option value="KZ">Kazakhstan</option>
												<option value="KE">Kenya</option>
												<option value="KI">Kiribati</option>
												<option value="KP">Korea, Democratic People's Republic of</option>
												<option value="KR">Korea, Republic of</option>
												<option value="XK">Kosovo</option>
												<option value="KW">Kuwait</option>
												<option value="KG">Kyrgyzstan</option>
												<option value="LA">Lao People's Democratic Republic</option>
												<option value="LV">Latvia</option>
												<option value="LB">Lebanon</option>
												<option value="LS">Lesotho</option>
												<option value="LR">Liberia</option>
												<option value="LY">Libyan Arab Jamahiriya</option>
												<option value="LI">Liechtenstein</option>
												<option value="LT">Lithuania</option>
												<option value="LU">Luxembourg</option>
												<option value="MO">Macao</option>
												<option value="MK">Macedonia, the Former Yugoslav Republic of</option>
												<option value="MG">Madagascar</option>
												<option value="MW">Malawi</option>
												<option value="MY">Malaysia</option>
												<option value="MV">Maldives</option>
												<option value="ML">Mali</option>
												<option value="MT">Malta</option>
												<option value="MH">Marshall Islands</option>
												<option value="MQ">Martinique</option>
												<option value="MR">Mauritania</option>
												<option value="MU">Mauritius</option>
												<option value="YT">Mayotte</option>
												<option value="MX">Mexico</option>
												<option value="FM">Micronesia, Federated States of</option>
												<option value="MD">Moldova, Republic of</option>
												<option value="MC">Monaco</option>
												<option value="MN">Mongolia</option>
												<option value="ME">Montenegro</option>
												<option value="MS">Montserrat</option>
												<option value="MA">Morocco</option>
												<option value="MZ">Mozambique</option>
												<option value="MM">Myanmar</option>
												<option value="NA">Namibia</option>
												<option value="NR">Nauru</option>
												<option value="NP">Nepal</option>
												<option value="NL">Netherlands</option>
												<option value="AN">Netherlands Antilles</option>
												<option value="NC">New Caledonia</option>
												<option value="NZ">New Zealand</option>
												<option value="NI">Nicaragua</option>
												<option value="NE">Niger</option>
												<option value="NG">Nigeria</option>
												<option value="NU">Niue</option>
												<option value="NF">Norfolk Island</option>
												<option value="MP">Northern Mariana Islands</option>
												<option value="NO">Norway</option>
												<option value="OM">Oman</option>
												<option value="PK">Pakistan</option>
												<option value="PW">Palau</option>
												<option value="PS">Palestinian Territory, Occupied</option>
												<option value="PA">Panama</option>
												<option value="PG">Papua New Guinea</option>
												<option value="PY">Paraguay</option>
												<option value="PE">Peru</option>
												<option value="PH">Philippines</option>
												<option value="PN">Pitcairn</option>
												<option value="PL">Poland</option>
												<option value="PT">Portugal</option>
												<option value="PR">Puerto Rico</option>
												<option value="QA">Qatar</option>
												<option value="RE">Reunion</option>
												<option value="RO">Romania</option>
												<option value="RU">Russian Federation</option>
												<option value="RW">Rwanda</option>
												<option value="BL">Saint Barthelemy</option>
												<option value="SH">Saint Helena</option>
												<option value="KN">Saint Kitts and Nevis</option>
												<option value="LC">Saint Lucia</option>
												<option value="MF">Saint Martin</option>
												<option value="PM">Saint Pierre and Miquelon</option>
												<option value="VC">Saint Vincent and the Grenadines</option>
												<option value="WS">Samoa</option>
												<option value="SM">San Marino</option>
												<option value="ST">Sao Tome and Principe</option>
												<option value="SA">Saudi Arabia</option>
												<option value="SN">Senegal</option>
												<option value="RS">Serbia</option>
												<option value="CS">Serbia and Montenegro</option>
												<option value="SC">Seychelles</option>
												<option value="SL">Sierra Leone</option>
												<option value="SG">Singapore</option>
												<option value="SX">Sint Maarten</option>
												<option value="SK">Slovakia</option>
												<option value="SI">Slovenia</option>
												<option value="SB">Solomon Islands</option>
												<option value="SO">Somalia</option>
												<option value="ZA">South Africa</option>
												<option value="GS">South Georgia and the South Sandwich Islands</option>
												<option value="SS">South Sudan</option>
												<option value="ES">Spain</option>
												<option value="LK">Sri Lanka</option>
												<option value="SD">Sudan</option>
												<option value="SR">Suriname</option>
												<option value="SJ">Svalbard and Jan Mayen</option>
												<option value="SZ">Swaziland</option>
												<option value="SE">Sweden</option>
												<option value="CH">Switzerland</option>
												<option value="SY">Syrian Arab Republic</option>
												<option value="TW">Taiwan, Province of China</option>
												<option value="TJ">Tajikistan</option>
												<option value="TZ">Tanzania, United Republic of</option>
												<option value="TH">Thailand</option>
												<option value="TL">Timor-Leste</option>
												<option value="TG">Togo</option>
												<option value="TK">Tokelau</option>
												<option value="TO">Tonga</option>
												<option value="TT">Trinidad and Tobago</option>
												<option value="TN">Tunisia</option>
												<option value="TR">Turkey</option>
												<option value="TM">Turkmenistan</option>
												<option value="TC">Turks and Caicos Islands</option>
												<option value="TV">Tuvalu</option>
												<option value="UG">Uganda</option>
												<option value="UA">Ukraine</option>
												<option value="AE">United Arab Emirates</option>
												<option value="GB">United Kingdom</option>
												<option value="US">United States</option>
												<option value="UM">United States Minor Outlying Islands</option>
												<option value="UY">Uruguay</option>
												<option value="UZ">Uzbekistan</option>
												<option value="VU">Vanuatu</option>
												<option value="VE">Venezuela</option>
												<option value="VN">Viet Nam</option>
												<option value="VG">Virgin Islands, British</option>
												<option value="VI">Virgin Islands, U.s.</option>
												<option value="WF">Wallis and Futuna</option>
												<option value="EH">Western Sahara</option>
												<option value="YE">Yemen</option>
												<option value="ZM">Zambia</option>
												<option value="ZW">Zimbabwe</option>


											</select>
										</div>
									</div>

									<div class="row">
<!--										<div class="col-6">-->
<!--											<div class="form-group">-->
<!--												<input type="date" name="dob" class="form-control date"  placeholder="Date of Birth">-->
<!--											</div>-->
<!--										</div>-->
										<div class="col-6">
											<div class="form-group radio_input">
												<label class="container_radio">Male
													<input type="radio" name="gender" value="Male" class="required">
													<span class="checkmark"></span>
												</label>
												<label class="container_radio">Female
													<input type="radio" name="gender" value="Female" class="required">
													<span class="checkmark"></span>
												</label>
											</div>
										</div>
									</div>
									<!-- /row -->
<!--									<div class="form-group terms">-->
<!--										<label class="container_check">Please accept our <a href="#" data-bs-toggle="modal" data-bs-target="#terms-txt">Terms and conditions</a>-->
<!--											<input type="checkbox" name="terms" value="Yes" class="required">-->
<!--											<span class="checkmark"></span>-->
<!--										</label>-->
<!--									</div>-->
								</div>
								<!-- /step-->
								<!-- impartation -->
								<div class="step">
									<h3 class="main_question"><strong>2/5</strong>Have you received any Impartation from Doctor Jan in the past?</h3>
									<div class="form-group">
										<label class="container_radio version_2">No - I have never received an Impartation
											<input type="radio" name="question_1" value="No" class="required" onchange="getVals(this, 'question_1');">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="form-group">
										<label class="container_radio version_2">Yes - I have received an Impartation
											<input type="radio" name="question_1" value="Yes" class="required" onchange="getVals(this, 'question_1');">
											<span class="checkmark"></span>
										</label>
									</div>
									<!-- another question -->
									<div class="mt-5">
										<h3 class="main_question">Are you a Registered Student ?</h3>
									</div>
									<div class="form-group">
										<label class="container_radio version_2">No, I am not
											<input type="radio" name="question_2" value="No" class="required" onchange="getVals(this, 'question_2');">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="form-group">
										<label class="container_radio version_2">Yes, I am (Intermediate/Advanced Course)
											<input type="radio" name="question_2" value="Yes" class="required" onchange="getVals(this, 'question_2');">
											<span class="checkmark"></span>
										</label>
									</div>
								</div>
								<!-- /step-->
								<div class="step">
									<h3 class="main_question"><strong>3/5</strong>Are you attending the launch of Guide the Children (Save the Children) Program ?</h3>
									<div class="form-group">
										<label class="container_radio version_2">Yes
											<input type="radio" name="question_3" value="Yes" class="required" onchange="getVals(this, 'question_3');">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="form-group">
										<label class="container_radio version_2">No
											<input type="radio" name="question_3" value="No" class="required" onchange="getVals(this, 'question_3');">
											<span class="checkmark"></span>
										</label>
									</div>
									<div>
										<div class="mt-4">
											<h3 class="main_question">If yes, please provide the following details for (Save the Children)</h3>
										</div>
										<div class="form-group">
											<input type="number" name="total_number" class="form-control" placeholder="Total Number Attending (Including Children)">
										</div>
										<div class="form-group">
											<input type="text" name="spouse_name" class="form-control" placeholder="Spouse Name">
										</div>
										<div class="row">
											<div class="col-6">
												<div class="form-group">
													<input type="text" name="child_name" class="form-control " placeholder="Child's Name">
												</div>
											</div>
											<div class="col-6">
												<div class="form-group">
													<input type="number" name="child_age" class="form-control" placeholder="Child's Age">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-6">
												<div class="form-group">
													<input type="text" name="child_name" class="form-control" placeholder="Child's Name">
												</div>
											</div>
											<div class="col-6">
												<div class="form-group">
													<input type="number" name="child_age" class="form-control" placeholder="Child's Age">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-6">
												<div class="form-group">
													<input type="text" name="child_name" class="form-control" placeholder="Child's Name">
												</div>
											</div>
											<div class="col-6">
												<div class="form-group">
													<input type="number" name="child_age" class="form-control" placeholder="Child's Age">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-6">
												<div class="form-group">
													<input type="text" name="child_name" class="form-control" placeholder="Child's Name">
												</div>
											</div>
											<div class="col-6">
												<div class="form-group">
													<input type="number" name="child_age" class="form-control" placeholder="Child's Age">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-6">
												<div class="form-group">
													<input type="text" name="child_name" class="form-control" placeholder="Child's Name">
												</div>
											</div>
											<div class="col-6">
												<div class="form-group">
													<input type="number" name="child_age" class="form-control" placeholder="Child's Age">
												</div>
											</div>
										</div>
								</div>
								</div>
								<!-- /step-->
								<div class="step">
									<h3 class="main_question"><strong>4/5</strong>How do you intend to commute to the site ?</h3>
									<div class="form-group">
										<label class="container_radio version_2">Personal Vehicle
											<input type="radio" name="question_4" value="Personal" class="required" onchange="getVals(this, 'question_4');">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="form-group">
										<label class="container_radio version_2">Public Transport
											<input type="radio" name="question_4" value="Public" class="required" onchange="getVals(this, 'question_4');">
											<span class="checkmark"></span>
										</label>
									</div>
									<!-- another question -->
									<div class="mt-4">
										<h3 class="main_question">If public transport, what is your preference</h3>
									</div>
									<div class="form-group">
										<label class="container_radio version_2">Will get there on public transport myself
											<input type="radio" name="question_5" value="Public" class="" onchange="getVals(this, 'question_5');">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="form-group">
										<label class="container_radio version_2">Will join organized transport by JCF
											<input type="radio" name="question_5" value="Organized" class="" onchange="getVals(this, 'question_5');">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="form-group">
										<label class="container_radio version_2">Not Applicable
											<input type="radio" name="question_5" value="" class="">
											<span class="checkmark"></span>
										</label>
									</div>
									<!-- another question -->
									<div class="mt-4">
										<h3 class="main_question">If Personal transport, are you willing to offer a lift?</h3>
									</div>
									<div class="form-group">
										<label class="container_radio version_2">Yes, contact me for ride sharing
											<input type="radio" name="question_6" value="Yes" class="" onchange="getVals(this, 'question_6');">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="form-group">
										<label class="container_radio version_2">No, it's fully occupied
											<input type="radio" name="question_6" value="No" class="" onchange="getVals(this, 'question_6');">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="form-group">
										<label class="container_radio version_2">Not Applicable
											<input type="radio" name="question_6" value="" class="">
											<span class="checkmark"></span>
										</label>
									</div>
									<!-- another question -->
									<div class="mt-4">
										<h3 class="main_question">Accommodation Preference</h3>
									</div>
									<div class="form-group">
										<label class="container_radio version_2">I prefer to stay in a hotel
											<input type="radio" name="question_7" value="Hotel" class="" onchange="getVals(this, 'question_7');">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="form-group">
										<label class="container_radio version_2">I prefer to stay on site (bring my own tents)
											<input type="radio" name="question_7" value="Onsite" class="" onchange="getVals(this, 'question_7');">
											<span class="checkmark"></span>
										</label>
									</div>
									<!-- another question -->
									<div class="mt-4">
										<h3 class="main_question">Date of Arrival on Site NB: Event start date is 21st July</h3>
										<input type="date" name="arrival_date" class="form-control date" placeholder="Arrival Date">
									</div>


								</div>
								<!-- /step-->
								<div class="submit step">
									<h3 class="main_question"><strong>5/5</strong>Do you have any medical background ? (First Aid, Nurse, Doctor, etc)</h3>
									<div class="form-group">
										<label class="container_radio version_2">Yes
											<input type="radio" name="question_8" value="Yes" class="">
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="form-group">
										<label class="container_radio version_2">No
											<input type="radio" name="question_8" value="No" class="">
											<span class="checkmark"></span>
										</label>
									</div>

									<div class="mt-4">
										<h3 class="main_question">Any Comments or Suggestions ?</h3>
									</div>
									<div class="form-group">
										<label>Comments</label>
										<textarea name="additional_message" class="form-control" style="height:100px;"
												  placeholder="Type here additional info..."></textarea>
									</div>
								</div>

							</div>
							<!-- /middle-wizard -->
							<div id="bottom-wizard">
								<button type="button" name="backward" class="backward">Prev</button>
								<button type="button" name="forward" class="forward">Next</button>
								<button type="submit" name="process" class="submit" onclick="submitForm()">Submit</button>
							</div>
							<!-- /bottom-wizard -->
						</form>

					<div class="mt-5 text-center">
						<h5>Can't make it ? Support this Event</h5>
						<p>
							Support the program by donating to the foundation 🕊️🕊️.
						</p>
						<div>
							<a href="/event-registration/donation/" class="btn_1">Donate</a>
						</div>

					</div>
					</div>
					<!-- /Wizard container -->
			</div>
			<!-- /content-right-->
		</div>
		<!-- /row-->
	</div>
	<!-- /container-fluid -->


	<!-- Modal terms -->
	<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn_1" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	
	<!-- COMMON SCRIPTS -->
	<script src="{% static 'registration/assets/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'registration/assets/js/common_scripts.min.js' %}"></script>
	<script src="{% static 'registration/assets/js/velocity.min.js' %}"></script>
	<script src="{% static 'registration/assets/js/functions.js' %}"></script>

	<!-- Wizard script -->
	<script src="{% static 'registration/assets/js/survey_func.js' %}"></script>
<script>
    function submitForm() {
        document.getElementById("wrapped").submit();
    }
</script>

</body>


</html>